# Git
.git
.gitignore

# Maven
target/*
!target/ticket-management-service-0.0.1-SNAPSHOT.jar
mvnw
mvnw.cmd
.mvn/

# IDE files
.idea/
*.iml
.vscode/
*.swp
*.swo

# Logs
logs/
*.log

# OS specific
.DS_Store
Thumbs.db